{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="module" src="{{ url_for('static', path='/js/maplibre-gl-v5.9.0.js') }}"></script>
    <link href="{{ url_for('static', path='/css/maplibre-gl-v5.9.0.css') }}" rel='stylesheet'/>
    <script type="module" src="{{ url_for('static', path='/js/terra-draw-v1.0.0.umd.js') }}"></script>
    <script type="module"
            src="{{ url_for('static', path='/js/terra-draw-maplibre-gl-adapter-v1.0.0.umd.js') }}"></script>
    <script type="module" src="{{ url_for('static', path='/js/bbox-map.js') }}"></script>
{% endblock head %}

{% block title %}{{ _("edit survey-related record") | capitalize }} - SeisLabData{% endblock %}

{% block page_title %}
    {{ _("edit survey-related record") | capitalize }}
{% endblock page_title %}

{% block details %}
    <div data-on-intersect__once="@get('{{ url_for("survey_related_records:update_stream", survey_related_record_id=survey_related_record.id, request_id=form.request_id.data) }}')">
        {% include "survey-related-records/update-form.html" %}
    </div>
{% endblock details %}
