{% import "macros.html" as macros %}
{% import "macros-maps.html" as macros_maps %}
<form
        data-signals="{submitting: false}"
        data-on:datastar-fetch="evt.detail.type === 'error' && ($submitting = false)"
>
    {{ form.request_id }}
    {{ macros.render_localizable_field(form.name) }}
    {{ macros.render_localizable_field(form.description) }}
    {{ macros.render_form_field(form.dataset_category_id) }}
    {{ macros.render_form_field(form.workflow_stage_id) }}

    {{ macros_maps.render_bbox_update_component(
        settings.webmap_base_tile_layer_url,
        settings.webmap_default_zoom_level,
        form.bounding_box
    ) }}
    {{ macros.render_form_field(form.temporal_extent_begin) }}
    {{ macros.render_form_field(form.temporal_extent_end) }}

    <h3>{{ _("links") | capitalize }}</h3>
    {{ macros.render_links_fields(
        form.links,
        url_for("survey_related_records:add_update_form_link", survey_related_record_id=survey_related_record.id),
        url_for("survey_related_records:remove_update_form_link", survey_related_record_id=survey_related_record.id),
        form.csrf_token.current_token
    ) }}

    <h3>{{ _("assets") | capitalize }}</h3>
    <div class="row border p-4 mb-3">
        <div id="form-assets-container" class="col">
            {% for asset in form.assets %}
                <div class="d-flex justify-content-between mb-3">
                    <h4>{{ _("asset") | capitalize }} {{ loop.index0 + 1 }}</h4>
                    <button
                            type="submit"
                            class="btn btn-outline-danger"
                            data-on:click="@post('{{ url_for("survey_related_records:remove_update_form_asset", survey_related_record_id=survey_related_record.id) }}?index={{ loop.index0 }}', {
                  contentType: 'form',
                  headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'},
                })"
                    >{{ _("remove asset") | capitalize }}</button>
                </div>
                {{ macros.render_form_field(asset.asset_id, "asset-") }}
                {{ macros.render_localizable_field(asset.asset_name, "asset-") }}
                {{ macros.render_localizable_field(asset.asset_description, "asset-") }}
                {{ macros.render_form_field(asset.media_type, "asset-") }}
                {{ macros.render_form_field(asset.relative_path, "asset-") }}
                <h5>{{ _("asset links") | capitalize }}</h5>
                {{ macros.render_links_fields(
                    asset.asset_links,
                    url_for("survey_related_records:add_update_form_asset_link", survey_related_record_id=survey_related_record.id, asset_index=loop.index0),
                    url_for("survey_related_records:remove_update_form_asset_link", survey_related_record_id=survey_related_record.id, asset_index=loop.index0),
                    form.csrf_token.current_token,
                    "asset-" ~ loop.index0 ~ "-"
                ) }}

            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <button
                        type="button"
                        class="btn btn-outline-secondary"
                        aria-label="add-another-asset"
                        data-on:click="@post('{{ url_for("survey_related_records:add_update_form_asset", survey_related_record_id=survey_related_record.id) }}', {
          contentType: 'form',
          headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'},
        })"
                >
                    {{ _("add another asset") | capitalize }}
                </button>
            </div>
        </div>
    </div>
    <h3>{{ _("related records") | capitalize }}</h3>
    <div class="row border p-4 mb-3">
        <div id="form-related-records-container" class="col">
            {% for related_to in form.related_records %}
                {% set datalist_id = "related-record-datalist-" ~ loop.index0 %}
                {% set search_param = "search-" ~ loop.index0 %}
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>{{ _("record") | capitalize }} {{ loop.index0 + 1 }}</h4>
                    <button
                            type="submit"
                            class="btn btn-outline-danger"
                            data-on:click="@post('{{ url_for("survey_related_records:remove_update_form_related_to_record", survey_related_record_id=survey_related_record.id) }}?index={{ loop.index0 }}', {contentType: 'form', headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'}})"
                    >{{ _("remove relationship to record") | capitalize }}</button>
                </div>
                <datalist id="{{ datalist_id }}">
                    {% for value, label in initial_related_records %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </datalist>
                {{ macros.render_form_field(
                    related_to.related_record,
                    "related_to-",
                    list=datalist_id,
                    **{
                        "data-on:input__debounce.200ms": "@get('" ~ url_for("survey_related_records:list_by_name") ~ "?target=" ~ datalist_id ~"&searchParam=" ~ search_param ~"')",
                        "data-bind": search_param
                    }
                ) }}
                {{ macros.render_localizable_field(related_to.relationship, "related_to-") }}

            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <button
                        type="button"
                        class="btn btn-outline-secondary"
                        aria-label="add-another-related-record"
                        data-on:click="@post('{{ url_for("survey_related_records:add_update_form_related_to_record", survey_related_record_id=survey_related_record.id) }}', {contentType: 'form', headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'}})"
                        data-attr:disabled="{{ form.related_records | length }} >= {{ item_limits.SURVEY_RELATED_RECORD_MAX_RELATED }} "
                >
                    {{ _("add another relationship") | capitalize }}
                </button>
                {% if form.related_records | length >= item_limits.SURVEY_RELATED_RECORD_MAX_RELATED %}
                    <span class="ms-3 text-secondary">{{ _("maximum limit reached") | capitalize }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <a
                    href="{{ url_for('survey_related_records:detail', survey_related_record_id=survey_related_record.id) }}"
                    class="btn btn-outline-secondary"
                    aria-label="cancel-update"
            >{{ _('cancel') | capitalize }}
            </a>
            <button
                    type="submit"
                    aria-label="submit-update-form"
                    class="btn btn-primary"
                    data-on:click="$submitting = true; @put('{{ url_for('survey_related_records:detail', survey_related_record_id=survey_related_record.id) }}', {
                            contentType: 'form',
                            headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'}
                        })"
                    data-attr:disabled="$submitting"
            >
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"
                      data-attr:hidden="!$submitting"></span>
                <span data-text="$submitting ? '{{ _('Updating survey-related record...') }}' : '{{ _('Update survey-related record') }}'"></span>
            </button>
        </div>
    </div>
</form>
