{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/jsoneditor.min.css') }}">
    <script src="{{ url_for('static', path='/js/jsoneditor.min.js') }}"></script>
{% endblock head %}

{% block title %}{{ _("edit workflow stage") | capitalize }} - SeisLabData{% endblock %}

{% block page_title %}
    {{ _("edit workflow stage") | capitalize }}
{% endblock page_title %}

{% block details %}
    <div data-on-intersect__once="@get('{{ url_for("workflow_stages:update_stream", resource_id=item.id, request_id=form.request_id.data) }}')">
        {% include "workflowstages/update-form.html" %}
    </div>
{% endblock details %}
