{% extends "base.html" %}

{% block resource_type_color_class %}bg-project{% endblock %}

{% block head %}
    {{ super() }}
    <script type="module" src="{{ url_for('static', path='/js/maplibre-gl-v5.9.0.js') }}"></script>
    <link href="{{ url_for('static', path='/css/maplibre-gl-v5.9.0.css') }}" rel='stylesheet' />
    <script type="module" src="{{ url_for('static', path='/js/terra-draw-v1.0.0.umd.js') }}"></script>
    <script type="module" src="{{ url_for('static', path='/js/terra-draw-maplibre-gl-adapter-v1.0.0.umd.js') }}"></script>
    <script type="module" src="{{ url_for('static', path='/js/bbox-map.js') }}"></script>
    <script type="module" src="{{ url_for('static', path='/js/readonly-bbox-map.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/jsoneditor.min.css') }}">
    <script src="{{ url_for('static', path='/js/jsoneditor.min.js') }}"></script>
    <style>{{ pygments_css }}</style>
{% endblock head %}

{% block title %}{{ item.name|translate_localizable_string }} - SeisLabData{% endblock %}

{% block page_title %}
    <span class="material-icons-outlined me-1">{{ icons.projects }}</span>{{ item.name|translate_localizable_string }}
{% endblock page_title %}

{% block details %}
    {% include "projects/detail-component.html" %}
{% endblock details %}
