{% from "macros/button.html" import render_button, render_link %}
{% set id_ = item.id | string | replace('-', '') %}
<div
        class="col"
        data-signals:is-valid-id{{ id_ }}="{{ 'true' if item.validation_result.is_valid else 'false' }}"
>
    <div class="card mb-3 list-item-stripe list-item-stripe-project">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="placeholder-rectangle bg-secondary"></div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <h5 class="card-title text-truncate"><span class="material-icons-outlined me-1" aria-hidden="true">{{ icons.projects }}</span>{{ item.name|translate_localizable_string|default(_("name not available"), True) }}</h5>
                        </div>
                        <div class="col-4">
                            <small class="text-body-secondary"><span
                                    class="material-icons-outlined me-1">{{ icons['status_' + item.status.value] }}</span> {{ item.status.value }}
                            </small>
                            <span
                                    class="material-icons-outlined me-1"
                                    data-text="$isValidId{{ id_ }} ? window.iconNames['validation_valid'] : window.iconNames['validation_invalid']"
                                    data-class:text-success="$isValidId{{ id_ }}"
                                    data-class:text-danger="!$isValidId{{ id_ }}"
                            ></span>
                            <span
                                    data-text="$isValidId{{ id_ }} ? 'Valid' : 'Invalid' "
                                    data-class:text-success="$isValidId{{ id_ }}"
                                    data-class:text-danger="!$isValidId{{ id_ }}"
                            ></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-unstyled">
                                <li class="card-text">
                                    <small class="text-body-secondary">
                                        {{ item.temporal_extent_begin | default(_(".."), True) }}/{{ item.temporal_extent_end | default(_(".."), True) }}
                                    </small>
                                </li>
                                <li class="card-text text-truncate">
                                    {{ item.description|translate_localizable_string|default(_("description not available"), True) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            {% if not item.bbox_4326 %}
                            <div class="row mb-3">
                                <div class="col">
                                        <span class="material-icons-outlined me-1">{{ icons.validation_invalid }}</span>
                                        {{ _("unknown spatial extent") }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="row mb-3">
                                <div class="col">
                                    <span class="material-icons-outlined me-1">{{ icons.survey_missions }}</span>
                                    {{ item.num_survey_missions }}
                                    <span class="material-icons-outlined ms-3 me-1">{{ icons.survey_related_records }}</span>
                                    {{ item.num_survey_related_records }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ render_link(url_for("projects:detail", project_id=item.id), _("View"), "view-detail", icons.view_details, "btn-outline-primary") }}
                </div>
            </div>
        </div>
    </div>
</div>
