{% extends "base.html" %}
{% block title %}{{ _("Protected") }} - SeisLabData{% endblock %}
{% block content %}
    <div class="col g-4">
        <dl class="row">
            <dt class="col-sm-3">{{ _('Name') }}</dt>
            <dt class="col-sm-9">{{ user.username }}</dt>
            <dt class="col-sm-3">{{ _('E-mail') }}</dt>
            <dt class="col-sm-9">{{ user.email }}</dt>
            <dt class="col-sm-3">{{ _('ID') }}</dt>
            <dt class="col-sm-9">{{ user.id }}</dt>
            {% if user.roles | length > 0 %}
                <dt class="col-sm-3">{{ _('Roles') }}</dt>
                <dt class="col-sm-9">{{ user.roles | join(",") }}</dt>
            {% endif %}
        </dl>
    </div>
    <p>{{ user }}</p>
{% endblock %}
