{% import "macros.html" as macros %}
<form
        data-signals="{submitting: false}"
        data-on:datastar-fetch="evt.detail.type === 'error' && ($submitting = false)"
>
    {{ form.request_id() }}
    {{ macros.render_form_field(form.name) }}
    {{ macros.render_form_field(form.relative_path_regexp) }}
    {{ macros.render_form_field(form.media_type) }}
    {{ macros.render_form_field(form.dataset_category_id) }}
    {{ macros.render_form_field(form.workflow_stage_id) }}


    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <a
                    href="{{ url_for('asset_discovery_configurations:list') }}"
                    class="btn btn-outline-secondary"
                    aria-label="cancel-creation"
            >{{ _('cancel') | capitalize }}
            </a>
            <button
                    type="submit"
                    aria-label="submit-create-form"
                    class="btn btn-primary"
                    data-on:click="$submitting = true; @post('{{ url_for('asset_discovery_configurations:list') }}', {
                            contentType: 'form',
                            headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'}
                        })"
                    data-attr:disabled="$submitting"
            >
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"
                      data-attr:hidden="!$submitting"></span>
                <span data-text="$submitting ? '{{ _('Creating asset discovery configuration...') }}' : '{{ _('Create asset discovery configuration') }}'"></span>
            </button>
        </div>
    </div>
</form>
