{% extends "base.html" %}

{% block title %}{{ _("new asset discovery configuration") | capitalize }} - SeisLabData{% endblock %}

{% block page_title %}
    {{ _("new asset discovery configuration") | capitalize }}
{% endblock page_title %}

{% block details %}
    <div
            data-on-intersect__once="@get('{{ url_for('asset_discovery_configurations:new_stream', request_id=form.request_id.data) }}')"
    >
        {% include "discovery/create-form.html" %}
    </div>
{% endblock details %}
