{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="module" src="{{ url_for('static', path='/js/maplibre-gl-v5.9.0.js') }}"></script>
    <link href="{{ url_for('static', path='/css/maplibre-gl-v5.9.0.css') }}" rel='stylesheet'/>
    <script type="module" src="{{ url_for('static', path='/js/terra-draw-v1.0.0.umd.js') }}"></script>
    <script type="module"
            src="{{ url_for('static', path='/js/terra-draw-maplibre-gl-adapter-v1.0.0.umd.js') }}"></script>
    <script type="module" src="{{ url_for('static', path='/js/bbox-map.js') }}"></script>
{% endblock head %}

{% block title %}{{ _("new survey mission") | capitalize }} - SeisLabData{% endblock %}

{% block page_title %}
    {{ _("new survey mission") | capitalize }}
{% endblock page_title %}

{% block details %}
    <div
            data-on-intersect__once="@get('{{ url_for('survey_missions:new_stream', project_id=project.id, request_id=form.request_id.data) }}')"
    >
        {% include "survey-missions/create-form.html" %}
    </div>
{% endblock details %}
