{% import "macros.html" as macros %}
{% import "macros-maps.html" as macros_maps %}
<form
        data-signals="{submitting: false}"
        data-on:datastar-fetch="evt.detail.type === 'error' && ($submitting = false)"
>
    {{ form.request_id }}
    {{ macros.render_localizable_field(form.name) }}
    {{ macros.render_localizable_field(form.description) }}

    {{ macros.render_form_field(form.relative_path) }}

    {{ macros_maps.render_bbox_update_component(
        settings.webmap_base_tile_layer_url,
        settings.webmap_default_zoom_level,
        form.bounding_box
    ) }}
    {{ macros.render_form_field(form.temporal_extent_begin) }}
    {{ macros.render_form_field(form.temporal_extent_end) }}

    <h3>{{ _("links") | capitalize }}</h3>
    {{ macros.render_links_fields(
        form.links,
        url_for("survey_missions:add_update_form_link", survey_mission_id=survey_mission.id),
        url_for("survey_missions:remove_update_form_link", survey_mission_id=survey_mission.id),
        form.csrf_token.current_token
    ) }}

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <a
                    href="{{ url_for('survey_missions:detail', survey_mission_id=survey_mission.id) }}"
                    class="btn btn-outline-secondary"
                    aria-label="cancel-update"
            >{{ _('cancel') | capitalize }}
            </a>
            <button
                    type="submit"
                    aria-label="submit-update-form"
                    class="btn btn-primary"
                    data-on:click="$submitting = true; @put('{{ url_for('survey_missions:detail', survey_mission_id=survey_mission.id) }}', {
                            contentType: 'form',
                            headers: {'X-CSRFToken': '{{ form.csrf_token.current_token }}'}
                        })"
                    data-attr:disabled="$submitting"
            >
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"
                      data-attr:hidden="!$submitting"></span>
                <span data-text="$submitting ? '{{ _('updating survey mission...') | capitalize }}' : '{{ _('update survey mission') | capitalize }}'"></span>
            </button>
        </div>
    </div>
</form>
